.a
{
    float:right;
}
p
{
    font-weight: bold;
}
img.photo1
{
    border-radius: 0px 20px 20px 0px;
}
img.photo2
{
    border-radius: 20px 20px 20px 20px;
    
}
img.photo3
{
    border-radius: 20px 0px 0px 20px;
}
img.photo4
{
    border-radius: 0px 20px 0px 0px;
}
img.photo5
{
    border-radius: 20px 0px 0px 0px;
}
img.photo6
{
    border-radius: 20px 0px 0px 0px;
}
p
{
    text-transform: capitalize;
    text-align: left;
}

.ahmed>div
{
    width: 33%;
    float: left;
    
}